{{ if ne .Params.comments false}}
<div id="waline"></div>
<link rel="stylesheet" href="//unpkg.com/@waline/client@v3/dist/waline.css"/>
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  init({
    el: '#waline',
    serverURL: 'https://waline.heartnn.com/.netlify/functions/comment',
    path: '{{ .RelPermalink }}',
    emoji: [
      '//unpkg.com/@waline/emojis@1.4.0/bilibili',
      '//unpkg.com/@waline/emojis@1.4.0/bmoji',
    ],
    lang: 'zh-CN'
  });
</script>
{{ end }}