{{ if ne .Params.comments false}}
<link rel="stylesheet" href="//unpkg.com/@waline/client@v3/dist/waline.css"/>
<link rel="stylesheet" href="//unpkg.com/@waline/client@v3/dist/waline-meta.css"/>
<style>
  #waline {
    --waline-font-size: 1.8rem;
  }
</style>
<div id="waline"></div>
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  init({
    el: '#waline',
    serverURL: 'https://waline.heartnn.com',
    path: '{{ .RelPermalink }}',
    emoji: [
      '//unpkg.com/@waline/emojis@1.4.0/bilibili',
      '//unpkg.com/@waline/emojis@1.4.0/bmoji',
    ],
    imageUploader: false,
    search: false,
    requiredMeta: ['nick', 'mail'],
    lang: 'zh-CN',
    wordLimit: 1024
  });
</script>
{{ end }}